@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:300,400,700');

/* variables */

:root {
  --raleway: 'Raleway', sans-serif;
  --lobster: 'Lobster', cursive, sans-serif;
  --white: #fafafa;
  --orange: #f7472a;
  --black: #000;
  --lightorange: #ff5b2d;
  --light-shadow: rgba(0, 0, 0, .2);
  --dark-shadow: rgba(0, 0, 0, .6);
}

/* OOCSS */

.font-bold {
  font-weight: bolder;
}

/* styles */

body {
  background: #000;
  position: relative;
  font-family: var(--raleway);
}

.navbar-brand {
  padding: 10px 15px;
}

/* header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 0 40px;
  width: 100%;
} */

span.fa.fa-bars {
  color: var(--white);
  font-size: 25px;
  text-shadow: 1px 1px 3px var(--dark-shadow);
}

/* .logo {
  display: inline-block;
} */

.cutlery-logo {
  width: 500px;
}

.carousel-caption {
  position: absolute;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.carousel-inner > .item > .img {
  width: 100%;
}

#story, #review, #menu, #contact {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

#story {
  background: var(--white);
}

.year {
  position: absolute;
  font-family: var(--lobster);
  font-size: 150px;
  color: rgba(0, 0, 0, .2);
  margin: 0;
}

.story-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.story-header {
  font-family: var(--lobster);
  font-size: 70px;
  color: var(--orange);
  text-shadow: var(--dark-shadow);
}

.story-tag {
  font-size: 24px;
}

.story-right {
  display: flex;
  align-items: center;
}

.container-border::before {
  content: '';
  background: #777;
  height: 4px;
  display: block;
  border-radius: 2px;
  margin-bottom: 50px;
}

#review {
  background: url('../img/food_review.jpg');
  background-size: cover;
}

.review-info {
  background: var(--dark-shadow);
  border-radius: 4px;
  text-align: center;
}

.review-header {
  color: var(--orange);
  font-family: var(--lobster);
  text-shadow: var(--dark-shadow);
  font-size: 70px;
}

.review-body {
  color: white;
  font-size: 20px;
  font-family: var(--raleway);
}

#menu {
  background: url('../img/black_linen.png');
  background-size: cover;
  flex-direction: column;
}

.menu-header {
  font-family: var(--lobster);
  font-size: 70px;
  color: var(--white);
  width: 100%;
}

.tab-container {
  margin-top: 50px;
}

.tab-container a {
  color: var(--white);
}

.tab-container a:hover {
  color: var(--black);
}

.tab-content {
  background: var(--white);
  height: 450px;
}

.tab-pane {
  padding: 20px 0;
}

.col-sm-3 > h3 {
  color: var(--orange);
}

#contact {
  background: var(--orange);
}

.contact-header {
  color: var(--white);
  font-size: 70px;
}

.contact-text {
  color: var(--white);
}

@media screen and (max-width: 767px) {
  #menu {
    height: 100%;
  }
  .navbar-brand {
    margin-top: 5px;
  }
  .tab-content {
    height: 100%;
  }
  .tab-pane img {
    max-width: 200px;
  }



}
